<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>plupload template file</title>

	<script type="text/javascript">
	  	// ###TEMPLATE_CODE###
		(function($) {
			$(function() {
				var errorMsg = "Error: ", json,
					uploader = $('#uploader_###UID###').pluploadQueue({
						// General settings
						runtimes : 'html5,flash,silverlight,html4',
						url : '###UPLOAD_FILE###',
						// chunk_size : '###FILE_MAX_SIZE###',
						unique_names : false,
						rename: true,
						dragdrop: true,
						multiple_queues: true,
						quality: 100,

						// Specify what files to browse for
						filters : {
							// Remove this when using chunked uploads
							max_file_size : '###FILE_MAX_SIZE###',
							mime_types: [
								{
									title : "Allowed files",
									extensions : "###FILE_EXTENSIONS###"
								}
							]
						},

						// Flash settings
						flash_swf_url : '###EXTDIR_PATH###Resources/Public/JavaScript/plupload/js/Moxie.swf',

						// Silverlight settings
						silverlight_xap_url : '###EXTDIR_PATH###Resources/Public/JavaScript/plupload/js/Moxie.xap',

						// Post init events, bound after the internal events
						init : {
							FileUploaded: function(up, file, info) {
								json = $.parseJSON(info.response);
								if (json.error) {
									file.status = plupload.FAILED;
									errorMsg += json.error.message;
									alert(errorMsg);
								}
							}
						}
					});
			});
		})(jQuery);
		// ###TEMPLATE_CODE###
	</script>
</head>
<body>

<!-- ###TEMPLATE_CONTENT### begin -->
<div id="uploader_###UID###">
	<noscript><p>###INFO_1###</p></noscript>
	<p>###INFO_2###</p>
</div>
<!-- ###TEMPLATE_CONTENT### end -->

</body>
</html>
